*/*.bak
*/*.BAK
home
.h
*.bak
*.BAK
.r
.d
*.app
F18
*.tar.gz
*.log
*.gz
*.a
.hbmk
.cmd
rnal/*.c
pos/*.c
fin/*.c
fakt/*.bak
common/*.c
*.o
F18.exe
t.prg
pg_log
darwin/
tags
win32
linux_32
linux_64
darwin
*.dll
include/f18_ver.ch
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/test_secret.txt
F18_util
*.retry
docker/tds_fdw/
*.conv.txt
CHANGELOG_MERGE.md
template/
docker/
docker/postgresql_data
docker/data
